@use "../../scss/index" as *;

// main projects container
.projects__wrapper {
  @include breakpoint(992px) {
    letter-spacing: $mini_margin * 0.15;
    line-height: $base_margin * 1.5;
  }
  @include flexy(column);
  width: 100vw;
  height: auto;
  margin-inline: auto;
  padding-inline: $base_padding;
  padding-block-end: $base_margin * 4;
  background-image: $body_background2;

  // projects heading/title
  & .projects__heading {
    @include heading1;
    width: 80%;
    padding-block: $base_padding;
    @include grid_heading;
    margin-block-start: $demarcation * 1.5;
  }

  // brief page intro - a sub-heading
  & .projects__sub_heading {
    @include sub_heading1;
    max-width: $xs_width;
  }

  // tables
  & .tables {
    @include flexInGrid;
    margin-inline: auto;
    // max-width: $xs_width;
    overflow-x: auto;

    @include breakpoint(1024px) {
      max-width: 80%;
    }
    @include breakpoint(1300px) {
      max-width: 1200px;
    }
    & .table1,
    .table2 {
      font-family: $heading_font_fam;
      & .table1__title,
      .table2__title {
        font-size: $body_font_size1 * 0.8;
        font-style: italic;
        font-weight: $semi_bold_font;
        text-align: center;
      }
      & table {
        border-collapse: collapse;
        margin: $base_margin;
        border: 2px solid;
        background-image: $body_background4;
        th,
        td {
          border: 2px solid #232323;
          padding: $base_padding * 0.7;
        }
        th {
          border: 2px solid;
        }
      }
    }
    & .table2 table {
      background-image: $body_background3;
    }
    & .table2 .table2__title {
      margin-block-start: $demarcation * 1.5;
    }
  }
}

.mini__table {
  border: 2px solid;
    background-color: $sky_300;
  @include flexy(column);
  font-size: $body_font_size1;
  padding-inline: $base_padding;
  & .projects__sm_wrapper {
    margin-block: $base_margin;
    box-shadow: 0 0 6px 2px $indigo_600;
    width: 100%;
    margin-inline: auto;
  }
  & .project__item {
    margin: $base_margin;
    justify-content: flex-start;
    & .column1 {
      padding-inline-end: $base_padding;
      font-weight: $semi_bold_font;
      margin-right: auto;
    }
    & .project__description {
      font-family: Montserrat;
    }
  }
  hr {
    color: #FA3333;
  }
}
